################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/WebApiCore3.1WithSwagger/config/applicationhost.config
